.Tabs{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    &-Title{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: #494F66;
    }
   

}